RPMS/* filter=lfs diff=lfs merge=lfs -text
SRPMS/* filter=lfs diff=lfs merge=lfs -text
SOURCES/amazon-ec2-utils/** filter=lfs diff=lfs merge=lfs -text
SOURCES/harfbuzz/** filter=lfs diff=lfs merge=lfs -text
SOURCES/kata-containers/** filter=lfs diff=lfs merge=lfs -text
SOURCES/libuv/** filter=lfs diff=lfs merge=lfs -text
SOURCES/virtiofsd/** filter=lfs diff=lfs merge=lfs -text
SOURCES/ferm/** filter=lfs diff=lfs merge=lfs -text
SOURCES/freetype/** filter=lfs diff=lfs merge=lfs -text
SOURCES/neovim/** filter=lfs diff=lfs merge=lfs -text
SOURCES/qemu/** filter=lfs diff=lfs merge=lfs -text
SOURCES/retry/** filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
/SOURCES/kata-containers/kata-containers-3.2.0-vendor.tar.gz filter=lfs diff=lfs merge=lfs -text
/SOURCES/qemu/qemu-8.2.2.tar.xz filter=lfs diff=lfs merge=lfs -text
/SRPMS/kata-containers-3.2.0-2.el9.3.src.rpm filter=lfs diff=lfs merge=lfs -text
/SRPMS/qemu-8.2.2-1.el9.src.rpm filter=lfs diff=lfs merge=lfs -text
