[submodule "vendor/manage"]
	path = vendor/manage
	url = https://github.com/escapace/manage.git
[submodule "SOURCES/docker-gc"]
	path = SOURCES/docker-gc
	url = https://github.com/spotify/docker-gc.git
